{% extends 'base.html' %}

{% block title%}
About
{% endblock %}

{% block content%}
<h1>About City Hospital</h1><br><br>
<p>City Hospital, New Delhi's main campus is located in Ansari Nagar in Delhi. It is adjacent to the South Extension-II market and lies on both sides of the Sir Aurobindo Marg, southwards to the AIIMS Roundabout flyover crossing.

    City Hospital, New Delhi's main campus is divided into five smaller campuses:
    
    East Campus – Containing OPD Block, Main Hospital Block, Ward Block, Medical College, Research Section, Convergence Block, BB Dixit Library, Administrative Wing, Undergraduates Hostels, Central Lawn, Jawaharlal Auditorium and staff quarters. The 4 Specialty Centers for Cardiothoracic + Neurosciences, Cancer Center, Center for Ophthalmic Sciences and Center for Dental Education and Research are also within this East Campus.
    West Campus – It comprises mainly staff quarters and residences.
    JPNA Trauma Center – It is exclusively designated for Emergency services. In June 2018, a tunnel and ramp road link between the east campus and JPNA Trauma Center Campus was also opened. This link route is very useful in fast transferring of critical patients across the two Campuses. Beside JPNA Trauma Center, new 100 Bed Plastic and Burns Surgical Unit Hospital is also running, it will also comprise a Skin Bank for Burns Injuries.
    Masjid Moth Campus – This site contains new Post-Graduate and Resident Doctor's apartments. Underground parking block is also situated here. Upcoming New OPD Block, Mother and Child Care Unit, Surgical Block and Geriatric Block are also under construction here. These new blocks are aimed to reduce the patient load on the present OPD block in East Campus which is currently overhauled by nearly approx. 10,000 out-patients per day.
    Ayurvigyan Nagar Campus – It is too for faculty and staff's residential accommodations.
    
    JPNA Trauma Center building
    
    Central lawn, with teaching block in the background
    Across AIIMS is Safdarjung Hospital and associated Vardhman Mahavir Medical College (of Guru Gobind Singh Indraprastha University). Also, adjacently lies the headquarters of Indian Council of Medical Research, the body that coordinates and funds medical research in India. In vicinity, also lies National Medical Library, run by the Directorate-General of Health Services of the Government of India. It has a vast collection of scientific and medical journals that can be accessed by researchers.</p>
<br>
<br>
<h4>Established: 11/09/2001</h4><br>
<h4>Founder: Ashwin Prathap</h4>

    {% endblock %}